<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav>
    <div class="nav-wrapper">
        <a routerLink="" routerLinkActive="active" class="brand-logo"><img src="../../../assets/Logo.png" height="61px" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/friendslist" routerLinkActive="active">Friends List</a></li>
        <li><a routerLink="/newpoll" routerLinkActive="active">New Poll</a></li>
        </ul>
    </div>
</nav>
    